@import url("https://fonts.googleapis.com/css?family=Bangers|Fascinate+Inline|Monoton");
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Faster+One|Frijole");
body {
  width: 100%;
  height: 100%;
  background: url("../img/background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  body .welcome-page {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    z-index: 1003; }
    body .welcome-page .welcome-text {
      margin-top: 15%;
      width: 100%;
      color: white;
      font-size: 60px; }
    body .welcome-page .numberPlayers {
      color: white; }
    body .welcome-page .buttons-welcome {
      width: 100%; }
  body .guess-password-site {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    z-index: 1003;
    border: 20px solid white;
    display: none; }
    body .guess-password-site .guess-form {
      width: 100%;
      margin-top: 20%; }
    body .guess-password-site #closeGuess {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      font-size: 30px;
      cursor: pointer; }
    body .guess-password-site .success {
      border: 20px solid lightgreen; }
    body .guess-password-site .danger {
      border: 20px solid red; }
  body .winner-site {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    z-index: 1003;
    display: none; }
    body .winner-site .winner-welcome {
      color: white;
      font-size: 30px;
      width: 300px;
      height: 200px;
      position: absolute;
      top: calc(50% - 100px);
      left: calc(50% - 150px); }
    body .winner-site #closeWinner {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      font-size: 30px;
      cursor: pointer; }
  body .error-site {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    z-index: 1003;
    display: none; }
    body .error-site .head {
      position: absolute;
      width: 500px;
      height: 200px;
      left: calc(50% - 250px);
      top: calc(50% - 100px);
      color: white; }
    body .error-site #closeError {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      font-size: 30px;
      cursor: pointer; }
  body .buy-site {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    z-index: 1003;
    display: none; }
    body .buy-site #closeBuy {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      font-size: 30px;
      cursor: pointer; }
    body .buy-site .buy-panel {
      margin: 20% 20%; }
  body .site-title {
    font-size: 65px;
    color: white;
    letter-spacing: 6px;
    width: 100%;
    height: 20%;
    font-family: 'Frijole', cursive;
    text-transform: uppercase; }
  body .container-mine {
    position: absolute;
    width: 100%; }
    body .container-mine .managing-panel {
      position: absolute;
      width: 150px;
      top: 0;
      right: 0;
      background: rgba(250, 250, 250, 0.6);
      z-index: 1001;
      padding: 10px; }
      body .container-mine .managing-panel .btn-circle {
        border: 2px solid blue;
        font-family: 'Bangers', cursive;
        font-size: 20px;
        margin: 10px;
        letter-spacing: 5px; }
        body .container-mine .managing-panel .btn-circle:hover {
          padding: 5px 20px;
          transition: 1s all; }
      body .container-mine .managing-panel .input-letter {
        border: 3px solid;
        padding: 10px;
        z-index: 1002; }
      body .container-mine .managing-panel .btn-check {
        margin: 5px; }
    body .container-mine .password-container {
      width: 100%;
      height: 500px; }
      body .container-mine .password-container .fortune-password {
        width: 100%; }
        body .container-mine .password-container .fortune-password .password-block {
          background: -webkit-linear-gradient(rgba(250, 250, 250, 0.8), rgba(100, 100, 100, 0.2), rgba(250, 250, 250, 0.8));
          border: 2px solid black;
          height: 400px; }
          body .container-mine .password-container .fortune-password .password-block .typed-letters {
            position: absolute;
            width: 400px;
            height: 300px;
            top: calc(50% - 150px);
            left: calc(50% - 200px); }
      body .container-mine .password-container .fortune-circle {
        width: 100%; }
        body .container-mine .password-container .fortune-circle .button-spin {
          position: absolute; }
        body .container-mine .password-container .fortune-circle .circle-fortune {
          width: 100%;
          position: absolute; }
          body .container-mine .password-container .fortune-circle .circle-fortune img {
            width: 100%; }
          body .container-mine .password-container .fortune-circle .circle-fortune .arrow {
            position: absolute;
            top: -20px;
            left: calc(50% - 10px);
            font-size: 20px; }
    body .container-mine .actualPriceBlock {
      width: 200px;
      position: absolute;
      left: calc(50% - 100px); }
      body .container-mine .actualPriceBlock .actualPriceText {
        left: calc(50% - 96px);
        color: white;
        font-size: 20px;
        margin-top: 5px;
        border: 4px solid white;
        box-shadow: 0 20px 100px 30px rgba(250, 250, 250, 0.3);
        padding: 20px;
        background: rgba(250, 250, 250, 0.4); }
        body .container-mine .actualPriceBlock .actualPriceText:hover {
          background: rgba(250, 250, 250, 0.9);
          color: black; }
    body .container-mine .competitors {
      width: 100%;
      position: fixed;
      bottom: 0;
      color: white;
      /*background: rgba(250,250,250,0.7);*/ }
      body .container-mine .competitors .zoom-competitors {
        position: absolute;
        top: 0;
        right: 0; }
      body .container-mine .competitors .player1Active {
        color: white;
        background: red; }
      body .container-mine .competitors .player2Active {
        color: white;
        background: blue; }
      body .container-mine .competitors .player3Active {
        color: white;
        background: green; }
      body .container-mine .competitors .player4Active {
        color: white;
        background: black; }
      body .container-mine .competitors .player1NotActive {
        background: rgba(200, 10, 10, 0.3); }
      body .container-mine .competitors .player2NotActive {
        background: rgba(10, 10, 200, 0.3); }
      body .container-mine .competitors .player3NotActive {
        background: rgba(10, 200, 10, 0.3); }
      body .container-mine .competitors .player4NotActive {
        background: rgba(1, 1, 1, 0.3); }
      body .container-mine .competitors .player1 {
        border: 4px solid red;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px; }
      body .container-mine .competitors .player2 {
        border: 4px solid blue;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px; }
      body .container-mine .competitors .player3 {
        border: 4px solid green;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px; }
      body .container-mine .competitors .player4 {
        border: 4px solid black;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px; }

.square {
  width: 25px;
  height: 35px;
  border: 4px solid black;
  background: -webkit-linear-gradient(black, gray);
  float: left;
  margin: 2px;
  font-size: 20px; }

.circle-circle {
  transform: rotate(360deg);
  transition: 2s all; }

.rotate0 {
  transform: rotate(15deg);
  transition: 2s all; }

.rotate1 {
  transform: rotate(30deg);
  transition: 2s all; }

.rotate2 {
  transform: rotate(45deg);
  transition: 2s all; }

.rotate3 {
  transform: rotate(60deg);
  transition: 2s all; }

.rotate4 {
  transform: rotate(75deg);
  transition: 2s all; }

.rotate5 {
  transform: rotate(90deg);
  transition: 2s all; }

.rotate6 {
  transform: rotate(105deg);
  transition: 2s all; }

.rotate7 {
  transform: rotate(120deg);
  transition: 2s all; }

.rotate8 {
  transform: rotate(135deg);
  transition: 2s all; }

.rotate9 {
  transform: rotate(150deg);
  transition: 2s all; }

.rotate10 {
  transform: rotate(165deg);
  transition: 2s all; }

.rotate11 {
  transform: rotate(180deg);
  transition: 2s all; }

.rotate12 {
  transform: rotate(195deg);
  transition: 2s all; }

.rotate13 {
  transform: rotate(210deg);
  transition: 2s all; }

.rotate14 {
  transform: rotate(225deg);
  transition: 2s all; }

.rotate15 {
  transform: rotate(240deg);
  transition: 2s all; }

.rotate16 {
  transform: rotate(255deg);
  transition: 2s all; }

.rotate17 {
  transform: rotate(270deg);
  transition: 2s all; }

.rotate18 {
  transform: rotate(285deg);
  transition: 2s all; }

.rotate19 {
  transform: rotate(300deg);
  transition: 2s all; }

.rotate20 {
  transform: rotate(315deg);
  transition: 2s all; }

.rotate21 {
  transform: rotate(330deg);
  transition: 2s all; }

.rotate22 {
  transform: rotate(345deg);
  transition: 2s all; }

.rotate23 {
  transform: rotate(360deg);
  transition: 2s all; }

.checked {
  border: 2px solid lightgreen;
  background: greenyellow; }

.discover {
  transform: rotateY(360deg);
  transition: 1s all; }
